body {
	&.when-overlay {
		overflow: hidden;
	}
}

.container {
	transition: transform 0.5s cubic-bezier(.31, .9, .12, .76);
	.when-overlay & {
		transform: scale(0.8);
	}
}

.region__inner {
	min-height: 100vh;
	/*max-width: 1200px;
	margin: 0 auto;*/
	color: #fff;
}

.region__block {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}

.block__icon {
	display: block;
	width: 100px;
	@include space(5, height);
	margin: 0 auto;
}

#block__icon--people {
	background: url("../img/people.png") no-repeat 0 0;
}

#block__icon--info {
	background: url("../img/information.png") no-repeat 0 0;
}

#block__icon--analysis {
	background: url("../img/analysis.png") no-repeat 0 0;
}

#block__icon--refund {
	background: url("../img/refund.png") no-repeat 0 0;
}

#block__icon--patient {
	background: url("../img/patient.png") no-repeat 0 0;
}

#block__icon--portal {
	background: url("../img/portal.png") no-repeat 0 0;
}

#block__icon--apps {
	background: url("../img/apps.png") no-repeat 0 0;
}

#region__payers {
	background: #62ae63 url("../img/bg-payers.png") no-repeat 0 0; /* fixed */
	background-size: cover;
}

#region__providers {
	background: #dc7240 url("../img/bg-providers.png") no-repeat 0 0;
	background-size: cover;
}

#region__patients {
	background: #4c8ad5 url("../img/bg-patient.png") no-repeat 0 0;
	background-size: cover;
}

#region__contact {
	background: #172d52;
}

#map {
	height: 100%;
	width: 100%;
}