.group:after {
  clear: both;
  content: "";
  display: table;
}

.text--uppercase {
  text-transform: uppercase;
}

html {
  box-sizing: border-box;
  line-height: 1;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

nav ol,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button;
  overflow: visible;
}

input[type="search"] {
  appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}

input[type="number"] {
  width: auto;
}

textarea {
  overflow: auto;
  resize: vertical;
}

a {
  background: transparent;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

th,
td,
caption {
  font-weight: normal;
  margin: 0;
}

::-moz-selection,
::selection {
  background: #b3d4fc;
  color: #fff;
  text-shadow: none;
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../fonts/roboto/Roboto-Light.eot?") format("eot"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/roboto/Roboto-Light.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto/Roboto-Regular.eot?") format("eot"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto/Roboto-Bold.eot?") format("eot"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/roboto/Roboto-Bold.svg#Roboto") format("svg");
}
html {
  background-image: url(http://basehold.it/i/21);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 21px;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 300;
}

h1,
.h1 {
  font-size: 59px;
  font-size: 4.21429rem;
  line-height: 63px;
  line-height: 4.5rem;
  margin-bottom: 42px;
  margin-bottom: 3rem;
}

h2,
.h2 {
  font-size: 37px;
  font-size: 2.64286rem;
  line-height: 42px;
  line-height: 3rem;
  margin-bottom: 21px;
  margin-bottom: 1.5rem;
}

h3,
.h3 {
  font-size: 23px;
  font-size: 1.64286rem;
  line-height: 42px;
  line-height: 3rem;
  margin-bottom: 21px;
  margin-bottom: 1.5rem;
}

h4,
.h4 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.5rem;
}

h5,
.h5 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.5rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-bottom: 21px;
  margin-bottom: 1.5rem;
}

hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

input[type="text"].input,
input[type="password"].input,
input[type="email"].input,
input[type="search"].input,
select.input {
  background: #FFF;
  border: 1px solid #AAB6BD;
  color: #373737;
  display: block;
  height: 31.5px;
  margin-bottom: 10.5px;
  margin-bottom: 0.75rem;
  outline: none;
  padding: .5em .75em;
  /* If height is 1.5 times the line height, add a space of .5 to catch up with the rhythm*/
}
input[type="text"].input:focus,
input[type="password"].input:focus,
input[type="email"].input:focus,
input[type="search"].input:focus,
select.input:focus {
  outline: 0;
}
input[type="text"].input.modern,
input[type="password"].input.modern,
input[type="email"].input.modern,
input[type="search"].input.modern,
select.input.modern {
  border-width: 0 0 1px;
  margin-bottom: 0;
  background-color: transparent;
}
input[type="text"].input.stretch,
input[type="password"].input.stretch,
input[type="email"].input.stretch,
input[type="search"].input.stretch,
select.input.stretch {
  width: 100%;
}

.checkbox input {
  display: none;
}
.checkbox .check {
  display: inline-block;
  vertical-align: middle;
  width: 5em;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
  border-radius: 1em;
  background-color: #DE6262;
  position: relative;
}
.checkbox .check:before {
  content: "No";
  float: right;
}
.checkbox .check:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background-color: #FFF;
  transform: translate3d(0, 0, 0);
  transition: all .2s ease-in;
}
.checkbox input:checked + .check {
  background-color: #87C661;
}
.checkbox input:checked + .check:before {
  content: "Yes";
  float: left;
}
.checkbox input:checked + .check:after {
  transform: translate3d(150%, 0, 0);
}

.radio {
  height: 42px;
  height: 3rem;
}
.radio input {
  display: none;
}
.radio input:checked + label:after {
  background-color: #AAB6BD;
  animation: flip 0.2s;
}
.radio label {
  float: left;
  padding-top: 10.5px;
  padding-top: 0.75rem;
  padding-bottom: 10.5px;
  padding-bottom: 0.75rem;
  height: 100%;
  width: 150px;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 1px solid #333;
}
.radio label:after {
  content: "";
  background-color: #F7F7F7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.animated {
  animation: wobble 0.2s;
}

@keyframes flip {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
textarea {
  overflow: auto;
  resize: vertical;
}

.input-group {
  position: relative;
  display: inline-block;
}
.input-group .icon-search {
  position: absolute;
  right: 0;
  top: 5.25px;
}

.btn {
  background-image: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1;
  border: 0;
}
.btn::-moz-focus-inner {
  border: 0;
}
.btn:focus {
  outline: 0;
}
.btn.btn-secondary {
  background-color: #0076A3;
  color: #FFF;
}
.btn.btn-secondary:hover {
  background-color: #00648a;
}
.btn.btn-secondary:focus {
  background-color: #005170;
}
.btn.btn-secondary:active {
  background-color: #003f57;
}
.btn.stretch {
  width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin: 0;
}
.link:hover {
  text-decoration: none;
}

.link--push {
  position: relative;
  overflow: hidden;
}
.link--push .link__text {
  display: block;
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  padding-top: 10.5px;
  padding-top: 0.75rem;
}
.link--push:after {
  content: attr(data-hover);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #172d52;
  color: #fff;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  padding-top: 10.5px;
  padding-top: 0.75rem;
}
.link--push:hover .link__text {
  transform: translate3d(100%, 0, 0);
}
.link--push:hover:after {
  transform: translate3d(0, 0, 0);
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex__item {
  flex: 1;
}

.flex--hcenter {
  align-items: center;
}

.flex--vcenter {
  justify-content: center;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.nav__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.8);
  visibility: hidden;
  transform: translateY(100%);
  transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1), visibility 0s 0.5s;
}
.when-overlay .nav__overlay {
  visibility: visible;
  transform: translateY(0%);
  transition: transform 0.5s;
}

.nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav ul {
  list-style: none;
}
.nav li {
  text-transform: uppercase;
  font-size: 24px;
  margin: 12px 0;
}
.nav a {
  color: #172d52;
  overflow: hidden;
  display: block;
}
.nav a span {
  display: inline-block;
  position: relative;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.nav a span:after {
  content: attr(data-hover);
  white-space: nowrap;
  position: absolute;
  top: 100%;
  left: 0;
  font-weight: bold;
}
.nav a:hover span {
  transform: translate3d(0, -100%, 0);
}

.region[role="banner"] {
  background: #63b9b8 url("../img/banner.png") no-repeat 0 0;
  background-size: cover;
  padding: 21px;
  padding: 1.5rem;
}

.banner__text {
  align-self: center;
  color: #fff;
}
.banner__text .highlight {
  background: #172d52;
  display: inline-block;
}

.btn {
  padding: 0.5em 1em;
  border: 0;
}

.btn--link {
  background: transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.logo {
  position: absolute;
}
.logo img {
  vertical-align: middle;
}

#btn__menu--toggle {
  display: block;
  position: fixed;
  z-index: 100;
  top: 31.5px;
  top: 2.25rem;
  right: 31.5px;
  right: 2.25rem;
  height: 21px;
  height: 1.5rem;
  width: 2em;
}
#btn__menu--toggle span {
  background: #172d52;
  display: inherit;
  position: absolute;
  left: 0;
  top: 7.875px;
  height: 5.25px;
  width: 100%;
  transition: all 0.5s 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#btn__menu--toggle:after, #btn__menu--toggle:before {
  content: "";
  position: absolute;
  right: 0;
  width: 90%;
  height: 5.25px;
  background: #172d52;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#btn__menu--toggle:before {
  top: 0;
  transform-origin: 0% 0%;
}
#btn__menu--toggle:after {
  bottom: 0;
  transform-origin: 0% 100%;
}
#btn__menu--toggle.close {
  background: transparent;
}
#btn__menu--toggle.close span {
  transform: scale(0);
  transition: all 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  opacity: 0;
}
#btn__menu--toggle.close:after, #btn__menu--toggle.close:before {
  transition: transform 0.3s 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#btn__menu--toggle.close:before {
  transform: rotate(45deg) translate(2px, -2px);
}
#btn__menu--toggle.close:after {
  transform: rotate(-45deg) translate(2px, 2px);
}

body.when-overlay {
  overflow: hidden;
}

.container {
  transition: transform 0.5s cubic-bezier(0.31, 0.9, 0.12, 0.76);
}
.when-overlay .container {
  transform: scale(0.8);
}

.region__inner {
  min-height: 100vh;
  /*max-width: 1200px;
  margin: 0 auto;*/
  color: #fff;
}

.region__block {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.block__icon {
  display: block;
  width: 100px;
  height: 105px;
  height: 7.5rem;
  margin: 0 auto;
}

#block__icon--people {
  background: url("../img/people.png") no-repeat 0 0;
}

#block__icon--info {
  background: url("../img/information.png") no-repeat 0 0;
}

#block__icon--analysis {
  background: url("../img/analysis.png") no-repeat 0 0;
}

#block__icon--refund {
  background: url("../img/refund.png") no-repeat 0 0;
}

#block__icon--patient {
  background: url("../img/patient.png") no-repeat 0 0;
}

#block__icon--portal {
  background: url("../img/portal.png") no-repeat 0 0;
}

#block__icon--apps {
  background: url("../img/apps.png") no-repeat 0 0;
}

#region__payers {
  background: #62ae63 url("../img/bg-payers.png") no-repeat 0 0;
  /* fixed */
  background-size: cover;
}

#region__providers {
  background: #dc7240 url("../img/bg-providers.png") no-repeat 0 0;
  background-size: cover;
}

#region__patients {
  background: #4c8ad5 url("../img/bg-patient.png") no-repeat 0 0;
  background-size: cover;
}

#region__contact {
  background: #172d52;
}

#map {
  height: 100%;
  width: 100%;
}

.search-basic {
  height: 42px;
  height: 3rem;
}

/*# sourceMappingURL=style.unprefixed.css.map */
